/* les communs  */
ul{ 
    margin:0;
    list-style: none;
    padding: 0;
}

li {
    padding: 0.5rem;
    font-size: 0.8rem;
}
/* partie lucas main grid */
#profile_main_grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    height: 80rem;
}
#profile_grid_item1{
    padding:5rem;
}
.profile_grid_item{
    background-color: brown;
}
#profile_grid_item1_image{
    width: 100%;
    height: 100%;
    background-image: url("../images/portrait8.jpg");
    background-position: center;
    background-size: cover;
}
#profile_grid_item4{

    background-image: url("../images/portrait9.jpg");
    background-position: center;
    background-size: cover;
}

.profile_list_container{
    display:flex;
    justify-content: center;
}
.profile_list {
    width: 60%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 3em;
    height: 3em;

}


.profile_list li:hover{
    box-sizing: content-box;
    font-weight: bolder;
    border-bottom: 2px solid black;
}