/* Commons */
body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

main {
    width: 90%;
    margin: auto;
}

ul {
    text-decoration: none;
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER */
header {
    height: 1080px;
}

header #wrapper1 {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

header #wrapper1 .box1 {
    grid-column: 1/8;
    grid-row: 1/4;
    background: #ffffff;
}

header #wrapper1 .box1 .menu {
    display: flex;
    justify-content: space-between;
}

header #wrapper1 .box1 .menu h1 {
    margin: 0;
    position: relative;
    left: -47px;
    top: 123px;
    font-size: 63px;
}

header #wrapper1 .box1 .menu .logo {
    margin: 40px 40px 0 0;
}

header #wrapper1 .box1 .menu nav {
    margin-top: 40px;
}

header #wrapper1 .box1 .menu nav ul {
    display: flex;
}

header #wrapper1 .box1 .menu nav ul li {
    margin-right: 40px;
    text-transform: uppercase;
    font-size: 19px;
    letter-spacing: 0.2em;
    font-weight: 100;
}

header #wrapper1 .box1 .menu nav ul li a {
    font-size: 16px;
}

header #wrapper1 .box2 {
    grid-column: 8/13;
    grid-row: 1/9;
    background: #c6dbdc;
    margin-left: 45px;
}

header #wrapper1 .box2 .search_bar {
    text-align: right;
    margin: 57px 30px;
}

header #wrapper1 .box2 .search_bar i {
    font-size: 19px;
}

header #wrapper1 .box3 {
    grid-column: 3/10;
    grid-row: 4/13;
}

header #wrapper1 .box3 .picture-profil {
    background-image: url("../images/derek_anderson.jpg");
    background-size: cover;
    background-position: 50% 50%;
    height: 100%;
}

header #wrapper1 .box3 .picture-profil h1 {
    position: relative;
    top: 231px;
    left: -77px;
    font-weight: 100;
    font-size: 6em;
    line-height: 94px;
    margin: 0;
}

header #wrapper1 .box3 .picture-profil h1::before {
    display: inline-block;
    content: "";
    border-top: 0.4rem solid #fff;
    width: 3rem;
    transform: translateY(-1rem);
    position: absolute;
    top: 25px;
    left: 4.2em;
}

header #wrapper1 .box3 .picture-profil h2 {
    position: relative;
    top: 260px;
    left: -74px;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.3em;
    font-weight: 100;
}

header #wrapper1 .box4 {
    grid-row: 4/11;
    grid-column: 1/1;
}

header #wrapper1 .box4 .social-media {
    display: flex;
    flex-direction: column;
}

header #wrapper1 .box4 .social-media i {
    margin-bottom: 30px;
    font-size: 19px;
}

header #wrapper1 .box4 .social-media ul {
    margin: 0;
}

header #wrapper1 .box4 .line {
    height: 2px;
    background-color: #000;
    display: block;
    width: 68px;
    transform: rotate(90deg);
    position: absolute;
    left: 21px;
    top: 636px;
}

header #wrapper1 .box4 .number {
    transform: rotate(90deg);
    position: absolute;
    top: 728px;
    left: 48px;
}

header #wrapper1 .box5 {
    grid-row: 10/12;
    grid-column: 10/12;
    margin-left: 5em;
}

header #wrapper1 .box5 ul {
    padding: 0;
}

header #wrapper1 .box5 ul li {
    margin-bottom: 1em;
    color: #c2c2c2;
    height: 2em;
    margin-bottom: -0.5em;
}

header #wrapper1 .box5 ul li .line {
    height: 2px;
    background-color: #000;
    display: block;
    width: 68px;
    position: relative;
    top: -13px;
    left: 92px;
    opacity: 0;
}

header #wrapper1 .box5 ul li:hover * {
    opacity: 1;
    cursor: pointer;
    color: #000;
}

header #wrapper1 .box6 {
    grid-row: 11/13;
    grid-column: 3/3;
    background: #fff;
    margin-top: 4em;
}

header #wrapper1 .box6 .play-button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header #wrapper1 .box6 .play-button .mdi {
    color: #000;
    font-size: 4em;
    font-weight: 100;
}

header #wrapper1 .box7 {
    grid-row: 11/13;
    grid-column: 1/3;
    background: #c6dbdc;
    margin: 4em 0 0 2em;
}

header #wrapper1 .box7 .view-profil-button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header #wrapper1 .box7 .view-profil-button div {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 900;
}

/* GALERIE PAS TOUCHE*/
main #galerie {
    margin: auto;
    margin-top: 3em;
}

main #galerie .galerie_list_container {
    display: flex;
    justify-content: center;
}

main #galerie .galerie_list {
    width: 60%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 3em;
    height: 3em;
}

li {
    padding: 15px;
    font-size: 1em;
}

main #galerie .galerie_list li:hover {
    box-sizing: content-box;
    font-weight: bolder;
    border-bottom: 2px solid black;
}

main #galerie .galerie_icons_list {
    width: 20%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

main #galerie .symetry {
    transform: rotate(180deg);
}

main #galerie .galerie_img_container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

main #galerie .galerie_img_item {
    width: 25%;
    height: 23rem;
}

main #galerie .galerie_img_item_hover {
    opacity: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: 15px;
    box-sizing: border-box;
}

main #galerie .galerie_img_item_hover:hover {
    opacity: 100%;

    background-color: rgba(191, 217, 216, 0.9);
}

main #galerie .galerie_img_item_hover i {
    transform: rotate(-45deg);
    align-self: center;
}

main #galerie .galerie_img_item_hover_icon {
    width: 30px;
    height: 30px;
    border-radius: 25px;
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
}

main #galerie .galerie_img_item_hover_name {
    width: 100%;
    text-align: center;
    align-self: end;
    color: whitesmoke;
}

main #galerie #galerie_img1 {
    background-image: url("../images/portrait1.jpg");
    background-size: cover;
    background-position: center;
}

main #galerie #galerie_img2 {
    background-image: url("../images/portrait2.jpg");
    background-size: cover;
    background-position: center;
}

main #galerie #galerie_img3 {
    background-image: url("../images/portrait3.jpg");
    background-size: cover;
    background-position: center;
}

main #galerie #galerie_img4 {
    background-image: url("../images/portrait4.jpg");
    background-size: cover;
    background-position: center;
}

main #galerie #galerie_img5 {
    background-image: url("../images/portrait5.jpg");
    background-size: cover;
    background-position: center;
}

main #galerie #galerie_img6 {
    background-image: url("../images/portrait6.jpg");
    background-size: cover;
    background-position: center;
}

main #galerie #galerie_img7 {
    background-image: url("../images/portrait7.jpg");
    background-size: cover;
    background-position: center;
}

main #galerie #galerie_img8 {
    background-image: url("../images/portrait8.jpg");
    background-size: cover;
    background-position: center;
}

main #galerie .galerie_explore {
    display: flex;
    height: 8rem;
}

main #galerie .galerie_explore_button {
    background-color: tomato;
    margin: auto;
    border-radius: 3rem;
    padding: 1rem;
    color: white;
    font-size: 0.9rem;
}

/* main #galerie .galerie_font{
    font-family: "nunito";
} */

/* OURSTORIES */

#ourstories .imagehover {
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
}

#ourstories .imagehover i {
    color: white;
    display: block;
    margin: auto;
}

#ourstories .imagehover:hover {
    opacity: 1;
    background-color: rgba(191, 217, 216, 1);
}

#ourstories h1 {
    font-weight: bold;
    text-align: center;
}

#ourstories hr {
    width: 6%;
    color: black;
    height: 2px;
    background: black;
    border: none;
}

#ourstories .line1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 100%;
    height: 8rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

#ourstories .line2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 800px;
}

#hover:hover {
    color: #c6dbdc;
    cursor: pointer;
}

#ourstories .mainblock {
    width: 68%;
    height: 800px;
    display: flex;
    flex-flow: column nowrap;
    margin-right: 0.8rem;
}

#ourstories .part1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    height: 60%;
    background-color: yellow;
    margin-bottom: 1rem;
}

#ourstories .text4 {
    display: flex;
    flex-flow: column-reverse nowrap;
    background: #c6dbdc;
    flex: 1;
    color: white;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
}

#ourstories .text4 .date {
    color: white;
}

#ourstories .largetext {
    font-size: 1.5rem;
}

#ourstories .secondblock {
    width: 32%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin-left: 0.8rem;
}

#ourstories .text5 {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    position: relative;
    justify-content: center;
}

#ourstories .block1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 33.33%;
    margin-right: 1em;
}

#ourstories .block2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 33.33%;
    margin-right: 1em;
    margin-left: 1em;
}

#ourstories .block3 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 33.33%;
    margin-left: 1em;
}

#ourstories .part2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    height: 40%;
    margin-top: 1rem;
}

#ourstories .part21 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    margin-right: 0.8rem;
}

#ourstories .text6 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
    position: relative;
    justify-content: center;
}

#ourstories .part21 .text6 .phrase {
    padding-top: 0.8rem;
}

#ourstories .part21 .text6 .date {
    padding-top: 0.5rem;
}

#ourstories .part22 {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
    margin-left: 0.8rem;
}

#ourstories .text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

#ourstories .phrase {
    margin: 0%;
    font-size: 18px;
}

#ourstories .date {
    margin: 0%;
    color: grey;
    font-size: 12px;
}

#ourstories .trending {
    text-transform: uppercase;
    background-color: white;
    letter-spacing: 0.2rem;
    font-weight: bold;
    height: 1.5rem;
    margin: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
}

#ourstories .play {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: white;
    margin: 2rem;
    width: 60%;
}

#ourstories .playall {
    width: 3rem;
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#ourstories #textmargin {
    margin-left: 1em;
    width: 100%;
}

#ourstories .img1 {
    background-image: url("../images/imgpart11.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    margin-right: 1em;
}

#ourstories .img2 {
    background-image: url("../images/imgpart2.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-right: 1em;
}

#ourstories .img3 {
    background-image: url("../images/imgpart3.jpg");
    background-size: cover;
    background-position: right;
    width: 100%;
    height: auto;
    margin-right: 1em;
}

#ourstories .img4 {
    background-image: url("../images/imgpart4.jpg");
    background-size: cover;
    background-position: center;
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#ourstories .img5 {
    background-image: url("../images/imgpart54.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 85%;
}

#ourstories .img5 .bullets {
    /* position: relative;
    top: -45px;
    left: 234px; */
    display: inline-block;
    color: white;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#ourstories .img5 .bullets i {
    color: #878785;
    font-size: 8px;
}
#ourstories .img5 .bullets i:nth-child(2) {
    color: #ffffff;
    font-size: 14px;
}

#ourstories .img6 {
    background-image: url("../images/imgpart6.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70%;
}

#ourstories .img7 {
    background-image: url("../images/imgpart76.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* FOOTER */

footer {
    width: 95%;
    margin: auto;
}

footer .footer1 {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100px 300px;
    font-family: Arial, Helvetica, sans-serif;
}

#blocfooter1 {
    grid-column: 1;
    grid-row: 1;
    border-bottom-style: solid;
    border-bottom-color: rgb(236, 235, 235);
    font-family: "Poppins";
    font-weight: bold;
    font-size: larger;
    padding-top: 3%;
}

#blocfooter2 {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-color: rgb(236, 235, 235);
    padding-top: 45px;
    font-family: "Poppins", "nunito";
    font-weight: bold;
}

#blocfooter3 {
    grid-column: 1;
    grid-row: 2;
    padding-top: 2%;
    font-family: "Poppins", "nunito";
    color: grey;
}

#blocfooter4 {
    grid-column: 2;
    grid-row: 2;
    justify-content: space-between;
    display: flex;
    padding-top: 8%;
    margin-left: 40%;
}

#envelope {
    line-height: 1.45;
}
