/* Commons */
body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
main {
    width: 90%;
    margin: auto;
}
ul {
    text-decoration: none;
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

/* HEADER */
header #wrapper1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
header #wrapper1 .box1 {
    grid-column: 1/4;
    grid-row: 1/4;
    background: #ffffff;
}
header #wrapper1 .box2 {
    grid-column: 4/6;
    grid-row: 1/3;
    background: #c6dbdc;
}
header #wrapper1 .box3 {
    grid-column: 2/5;
    grid-row-start: 2;
    grid-row-end: 4;
    background: yellow;
}
header #wrapper1 .img {
    background-image: url("images/derek_anderson.jpg");
    background-size: cover;
    height: 400px;
}
header #menu {
    display: flex;
    justify-content: space-between;
}
header #menu h1 {
    margin-top: 40px;
}
header #menu nav {
    margin-top: 40px;
}
header #menu nav ul {
    display: flex;
}
header #menu nav ul li {
    margin-right: 30px;
}

/* GALERIE */
main #galerie {
    margin: auto;
}
main #galerie .galerie_list {
    width: 60%;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    justify-content: space-evenly;
}
main #galerie .galerie_list li {
    padding: 15px;
}
main #galerie .active {
    font-weight: bolder;
    border-bottom: 2px solid black;
}

/* OURSTORIES */
main #ourstories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr 3fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2%;
    width: 100%;
    height: 1100px;
    margin: auto;
    margin-bottom: 500px;
}

main h1 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    text-align: center;
    font-weight: normal;
}

main h1 hr {
    width: 6%;
    color: black;
    height: 2px;
    background: black;
    border: none;
}

main #ourstories .date {
    font-size: 12px;
    color: grey;
    margin: 0%;
}

main #ourstories p {
    font-size: 16px;
}

main #ourstories .margin {
    margin-left: 6%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

main #ourstories .img1 {
    width: 180px;
    height: auto;
}

main #ourstories .img2 {
    width: 50%;
}

main #ourstories .img3 {
    width: 50%;
}

main #ourstories .img7 {

}

main #ourstories .part1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
}

main #ourstories .part2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
}

.part1:hover {
    color: #c6dbdc;
    cursor: pointer;
}

.part2:hover {
    color: #c6dbdc;
    cursor: pointer;
}

.part3:hover {
    color: #c6dbdc;
    cursor: pointer;
}

.part5:hover {
    color: #c6dbdc;
    cursor: pointer;
}

.part6:hover {
    color: #c6dbdc;
    cursor: pointer;
}

.part7:hover {
    color: #c6dbdc;
    cursor: pointer;
}

main #ourstories .part3 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
}

main #ourstories .part4 {
    grid-column: 1 / 3;
    grid-row: 3 / 6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main #ourstories .part4 p {
    color: white;
}

main #ourstories .textpart4 {
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 6%;
    display: flex;
    flex-direction: column-reverse;
    background-color: #c6dbdc;
    text-align: justify;
}

main #ourstories .large {
    font-size: 20px;
    font-weight: bold;
}

main #ourstories .gras {
    font-weight: bold;
    margin: 0%;
}

main #ourstories .trending {
    position: absolute;
    z-index: 2;
    float: right;
    margin-left: 47%;
    margin-top: 0.8%;
    background-color: white;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 4px;
}

main #ourstories .part5 {
    grid-column: 3 / 4;
    grid-row: 3 / 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main #ourstories .textpart5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
}

main #ourstories .part6 {
    grid-column: 1 / 2;
    grid-row: 6 / 10;
}

main #ourstories .textpart6 {
    padding-top: 15px;
}

main #ourstories .part7 {
    grid-column: 2 / 3;
    grid-row: 6 / 10;
}

main #ourstories .play {
    margin-top: -80px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}

main #ourstories i {
    color: white;
}

main #ourstories .playall {
    color: white;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 25px;
    font-weight: bold;
    margin-top: 20px;
}

/* FOOTER */
footer .footer1 {
    display: grid;
    grid-template-columns: 800px 400px;
    grid-template-rows: 100px 300px;
}
footer #blocfooter1 {
    grid-column: 1;
    grid-row: 1;
}
footer #blocfooter2 {
    grid-column: 2;
    grid-row: 1;
}
footer #blocfooter3 {
    grid-column: 1;
    grid-row: 2;
}
footer #blocfooter4 {
    grid-column: 2;
    grid-row: 2;
}
